{% extends 'base.html' %}
{% load static %}

{% block title %}{% if object %}Editar{% else %}Nova{% endif %} Equipe{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'playersapp/styles.css' %}">
{% endblock %}

{% block content %}
<h1>{% if object %}Editar{% else %}Nova{% endif %} Equipe</h1>
<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" class="btn btn-success">Salvar</button>
    <a href="{% url 'listar_equipes' %}" class="btn btn-secondary">Cancelar</a>
</form>
{% endblock %}