{% extends 'base.html' %}

{% block title %}Listar Associações{% endblock %}

{% block content %}
<h1>Lista de Associações</h1>
<table class="table">
    <thead>
        <tr>
            <th>Colaborador</th>
            <th>Equipes</th>
        </tr>
    </thead>
    <tbody>
        {% for funcionario in funcionarios %}
            <tr>
                <td>{{ funcionario.nome }}</td>
                <td>
                    {% for equipe in funcionario.equipes.all %}
                        {{ equipe.nome }}{% if not forloop.last %}, {% endif %}
                    {% endfor %}
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}