{% extends 'base.html' %}

{% block title %}Listar Colaboradores{% endblock %}

{% block content %}
<h1>Lista de Colaboradores</h1>
<table class="table">
    <thead>
        <tr>
            <th>Nome</th>
            <th>Idade</th>
            <th>Hard Skills</th>
            <th>Soft Skills</th>
        </tr>
    </thead>
    <tbody>
        {% for colaborador in colaboradores %}
            <tr>
                <td>{{ colaborador.nome }}</td>
                <td>{{ colaborador.idade }}</td>
                <td>{{ colaborador.hard_skils }}</td>
                <td>{{ colaborador.soft_skils }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}