{% extends 'base.html' %}

{% block title %}Login{% endblock %}

{% block content %}

<div class="col-md-4">
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-success" style="font-size: 1.2em; color: white; background-color: green; padding: 10px; border-radius: 5px;">
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}

    <form method="post" action="{% url 'login' %}">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Entrar</button>
    </form>
    
    <a href="{% url 'password_reset' %}">Esqueci minha senha</a>
</div>

{% endblock %}